/* 6つのp要素に適用するスタイルを宣言 */
.white {
  color: white;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.yellow {
  color: yellow;
}

.back-blue {
  background-color: blue;
}
/* 6つのli要素に適用するスタイルを宣言 */
li {
  color: yellow;
  background-color: grey;
  font-size: 16px;
}

.blue {
  color: blue;
}

.back-green {
  background-color: green;
}

.back-brown {
  background-color: brown;
}

#12px {
  font-size: 12px;
}


